
      <% if @tweeter.present? %>
        <%= render 'tweet_handle_stats', local: {tweeter: @tweeter}  %>
      <% elsif @group.present? %>
        <%= render 'tweet_group_stats', local: {group: @group}  %>
      <% else %>

  <div class="hero box_one">
    <div class="container">
      <div align="center">
        <div class="row center">
          <h1 align="center"> Select a group or handle </h1>
          <div class="span4 pull-left">
            <h2>Groups</h2>
          <%= form_tag("/", method: "get") do %>
          <%= collection_select(:tag, :group_id, Group.all, :id, :tag, {selected: nil}) %>
          <br>
          <%= submit_tag("Update Group", class: "btn group_submit") %>
          <% end %>
          </div>

          <div class="span4 pull-right">
            <h2>Handles</h2>
              <%= form_tag("/", method: "get") do %>
              <%= collection_select(:handle, :tweeter_id, Tweeter.all, :id, :handle) %>
            <br>
            <%= submit_tag("Update Handle", class: "btn handle_submit") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
