<!DOCTYPE html>
<html>
<head>
  <title>TweetsOnUs</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>

  <div id="user_nav">
    <% if current_user %>
      Signed in as <%= current_user.name %>
      <%= link_to "Sign out", signout_path %>
    <% else %>
      <%= link_to "Sign in with Twitter", "/auth/twitter"%>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
