<!DOCTYPE html>
<html>
<head>
  <title>TweetsOnUs</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
</head>
<body>

  <div class="container">
    <ul class="nav nav-tabs pull-left">
      <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
      <% if current_user.present? && current_user.role == "admin" %>
        <li class="<%= 'active' if current_page?(rails_admin_path) %>"><%= link_to "Admin", rails_admin_path %></li>
      <% end %>
    </ul>

    <ul class="nav nav-tabs pull-right">
      <% if current_user %>
        <li><a href="https://twitter.com/#{current_user.name}"><%= current_user.name %></a></li>
        <li><%= link_to "Sign out", signout_path %></li>
      <% else %>
        <li><%= link_to "Sign in with Twitter", "/auth/twitter"%></li>
      <% end %>
    </ul>
  </div>

  <div class="container">
    <% flash.each do |name, msg| %>
      <div class="alert-info" data-alert="alert">
      <a class="close" data-dismiss='alert' href="#">×</a>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
    </div>
  </div>

  <%= yield %>


  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= yield :extra_footer %>
</body>


</html>
